/*
GLOBALES
*/
body {
    font-size: 16px;
    font-family: arial;
}
h2 {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: purple;
    font-size: 10px;
}

section {
    padding: 40px;
}

header, .footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: lightskyblue;
}
.header nav {
    display: flex;
    align-content: center;
    align-items: center;
}
.header nav ul {
     display: flex;
     align-content: center;
     align-items: center;
 }
.header nav ul li a {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.nosotros h2, .nosotros p,
.servicios h2, .servicios p,
.portafolio h2, .portafolio p,
.contacto h2, contacto p{
    margin-bottom: 20px;
}
.nosotros h2,
.servicios h2,
.portafolio h2,
.contacto h2 {
    font-weight: bold;
    color: purple;
    border-left: #87119A 5px solid;
    padding-left: 10px;
}
.nosotros__catalogo, .servicios__catalogo {
    display: flex;
    justify-content: space-around;
}
.nosotros figure,
.servicios figure{
    display: inline;
    width: 30%;
}
.nosotros img,
.servicios img {
    width: 100%;
}
.servicios__catalogo {
    display: flex;
    justify-content: center;
}
.servicios__catalogo_file_2 figure img {
    width: 100%;
}
.servicios__catalogo_file_2 {
    text-align: center;
}

.portafolio__catalogo {
    display: flex;
    justify-content: space-around;
}

.portafolio figure {
    display: inline;
    width: 22%;
}
.portafolio img {
    width: 100%;
    border-radius: 30px;
}

/*
CONTACTO
*/
.contacto__detalle {
    margin-top: 20px;
    display: flex;
    /*justify-content: space-around;*/
}
.contacto__detalle img {
    width: 60%;
}
.contacto__detalle .contacto__detalle__descripcion {
    width: 40%;
    padding: 20px;
}
.contacto__detalle__descripcion p {
    margin-bottom: 20px;
}
.contacto__detalle__descripcion strong {
    font-weight: bold;
}
.footer span {
    color: white;
    font-weight: bold;
}
.footer strong {
    color: #aa11bb;
}