.dropdown {
    position: relative;
    padding: 10px;
    margin: 0;
    border: none;
    background: blue;
    color: white;
    cursor: pointer;
}

.dropdown .menu {
    position: absolute;
    left: 0;
    padding: 0;
    list-style: none;
    background: red;
    min-width: 200px;
    top: 100%;
    margin: 0;
    display: none;
}

.dropdown .menu a {
    display: block;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid blue;
    color: #fff;
}
.dropdown .menu a:hover {
    background: orange;
}