.card {
    &-content {
        min-height: 200px;
    }
    &-image {
        text-align: center;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 10px;
        img {
            width: 200px !important;
            height: 200px !important;
            object-fit: cover;
            border-radius: 50% !important;
            // width: 100%;
        }
    }
}
.mt-4 {
    margin-top: 4em;
}
#toast-container {
    top: 10% !important;
    right: auto !important;

    left: 40%;
}
